.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: white;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
  &::placeholder {
    color: rgb(107, 88, 88);
  }
}
